<app-header></app-header>

<div class="center">
<h1>Conditions générales d'utilisation</h1>
	<p>Le présent document énonce les conditions générales d'utilisation (« Conditions ») applicables à l'utilisation du site web de la société Negosud qui commercialise des vins. En utilisant ce site web, vous acceptez de vous conformer à ces Conditions. Si vous n'êtes pas d'accord avec ces Conditions, veuillez ne pas utiliser ce site web.</p>
	<h2>Utilisation du site</h2>
	<p>Vous reconnaissez que l'utilisation de ce site web est exclusivement à des fins personnelles et non commerciales. Vous ne pouvez pas utiliser ce site web pour effectuer des activités illégales, frauduleuses ou nuisibles. Vous ne pouvez pas tenter d'interférer avec le fonctionnement de ce site web ou d'accéder à des données ou à des informations qui ne vous sont pas destinées.</p>
	<h2>Droits de propriété intellectuelle</h2>
	<p>Ce site web et tout son contenu, y compris les textes, les graphiques, les logos, les images, les clips vidéo, les fichiers audio et les logiciels, sont protégés par des droits de propriété intellectuelle. Vous reconnaissez que la société Negosud est propriétaire de tous les droits, titres et intérêts relatifs à ce site web et à son contenu. Vous ne pouvez pas copier, reproduire, modifier, afficher publiquement, distribuer ou utiliser de quelque manière que ce soit tout contenu de ce site web sans l'autorisation écrite préalable de la société Negosud.</p>
	<h2>Données personnelles</h2>
	<p>La société Negosud collecte des données personnelles vous concernant lorsque vous utilisez ce site web. Nous utilisons ces données conformément à notre politique de confidentialité.</p>
	<h2>Commandes</h2>
	<p>Si vous souhaitez passer une commande pour l'achat de vin, vous devez avoir l'âge légal pour acheter de l'alcool dans votre pays de résidence. La société Negosud se réserve le droit de refuser une commande si elle estime que vous n'avez pas l'âge légal ou que l'achat pourrait être illégal. Les prix des produits sont indiqués sur le site web et peuvent être modifiés sans préavis.</p>
	<h2>Limitation de responsabilité</h2>
	<p>La société Negosud ne sera pas tenue responsable de tout dommage ou préjudice résultant de l'utilisation ou de l'incapacité d'utiliser ce site web ou de tout contenu de ce site web. La société Negosud ne garantit pas l'exactitude, l'exhaustivité ou l'actualité des informations contenues sur ce site web. Vous assumez tous les risques associés à l'utilisation de ce site web.</p>
	<h2>Modifications des Conditions</h2>
	<p>La société Negosud se réserve le droit de modifier ces Conditions à tout moment. Les modifications seront effectives dès leur publication sur ce site web. Il est de votre responsabilité de consulter régulièrement ces Conditions pour vous assurer que vous êtes à jour.</p>
    <h2>Loi applicable et juridiction</h2>
    <p>Ces Conditions seront régies et interprétées conformément aux lois en vigueur. Tout litige découlant de l'utilisation de ce site web sera soumis à la juridiction des tribunaux compétents.</p>

    <h2>En utilisant ce site web, vous acceptez les Conditions générales énoncées ci-dessus.</h2>
</div>

<app-footer></app-footer>



