<div class="bloc">
    <img src="../../../assets/img/vin.jpg" alt="">
    <app-header></app-header>
    <div class="middle">
        <h1>"Le vin rend l’œil plus clair et l’oreille plus fine !"<br>Charles Baudelaire</h1>
        <div class="boutonMiddle">
            <a href="#choix" class="btn1">
                <li><button class="btn">Cliquez ici pour voir et entendre</button></li>
            </a>
        </div>
    </div>
</div>

<div id="choix" class="choix_vin">
    <h1>Choississez votre type de révélation :</h1>

    <div class="liste">
        <a href="#rouges"><div class="card card1">Rouges</div></a>
        <a href="#blancs"><div class="card card2">Blancs</div></a>
        <a href="#rosés"><div class="card card3">Rosés</div></a>
        <a href="#autres"><div class="card card4">Autres</div></a>
    </div>
</div>

<app-footer></app-footer>
